<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
	 
	 <bean class="com.bean.Student" id="stud1">
		 <property name="studentId" value="1"/>
		 <property name="studentName" value="Yogita"/>
		 <property name="age" value="25"/>
	 </bean>
	 
	 	 
	 <bean class="com.bean.Student" id="stud2">
		 <property name="studentId" value="2"/>
		 <property name="studentName" value="Dipali"/>
		 <property name="age" value="30"/>
	 </bean>
	 
	 	 
	 <bean class="com.bean.Student" id="stud3">
		 <property name="studentId" value="3"/>
		 <property name="studentName" value="Rupali"/>
		 <property name="age" value="28"/>
	 </bean>
 
 
 
 
 
 
 
 
</beans>